*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0px;
  padding: 0px;
  color: #495223;
  
}

header {
  padding: 20px;
  margin: 40px;

}

body {
  background-color: #dcd0c0;
  font-size: 3vh;
  font-family: 'Hedvig Letters Serif', serif;
  width: 400vh;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #c4593e;
  font-size: 8vh;
}

h3 {
  color: #c4593e;
  font-size: 5vh;
}

hr {
  size: 13em;
  color: #495223;
}

.recipebook {
  margin-top: 20px;
  margin-bottom: 20px;
}
main hr {
  width: 1px;
  margin-left: 50px;
  margin-right: 50px;
}
main {
  display: flex;
}

.contentAC {
  display:flex;
  flex-direction: column;

}

main .contentAC hr {
  size: 13em;
  color: #495223;
}

.contentAC ol {
  margin-bottom: 20px;
}

li {
  padding: 10px;
}